#about {
  display: flex;
}

#about #gutter {
  color: #5C5C5C;
  padding-top: 7px;
  padding-right: 15px;
}

#about #gutter div {
  display: flex;
  justify-content: right;

  height: 18px;
  width: 30px;
}

.renderjson a              {
  color: #C38D5B;
  text-decoration: underline;
}
.renderjson .disclosure    {
  color: crimson;
  font-size: 150%;
}
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: #C38D5B; }
.renderjson .number        { color: cyan; }
.renderjson .boolean       { color: plum; }
.renderjson .key           { color: #9CDCFE; }
.renderjson .keyword       { color: lightgoldenrodyellow; }
.renderjson .object.syntax { color: #CEC895; }
.renderjson .array.syntax  { color: #CEC895; }
