* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Helvetica, Verdana, sans-serif;

    min-height: 100vh;
    width: 100vw;
}

#root {
    display: flex;
    
    min-height: 100%;
    width: 100%;
}

a {
    outline: none;
}

.hidden {
    display: none;
}