* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Verdana, sans-serif;

    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}

#root {
    height: 100%;
    width: 100%;
}

#container {
    display: flex;

    height: 100%;
    width: 100%;
}

.strip {
    background-color: #333333;

    padding: 20px 0;
    position: relative;

    height: 100%;
    width: 5%;
}

.strip .logo {
    text-align: center;
}

.strip .logo img {
    width: 75%;
}

nav {
    margin-top: 30px;
    padding: 10px 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    opacity: 0.4;

    height: 40px;
    width: 100%;
}

nav ul li.active {
    opacity: 1;
}

nav ul li:hover {
    opacity: 1;
    cursor: pointer;
}

nav ul li img {
    width: 50%;
}

aside {
    background-color: #252526;
    color: white;

    padding-top: 30px;

    height: 100%;
    width: 200px;
}

aside h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

aside .project {
    color: white;
    font-size: 0.6em;

    height: 80px;

    padding: 20px 10px;
    position: relative;
}

aside .project:hover {
    background-color: #3f3f46;
    cursor: pointer;
}

aside .project p {
    margin-bottom: 3px;
}

aside .project p.project-title {
    display: flex;
    justify-content: space-between;
}

aside .project span.project-name {
    font-size: 1.5em;
    font-weight: bold;
}

main {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 0 0;
}

main h1 {
    color: white;
    font-size: 4em;
}
