* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Verdana, sans-serif;

    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}

#root {
    height: 100%;
    width: 100%;
}

#container {
    display: flex;

    height: 100%;
    width: 100%;
}

.strip {
    background-color: #333333;

    padding: 20px 0;
    position: relative;

    height: 100%;
    width: 5%;
}

.strip .logo {
    text-align: center;
}

.strip .logo img {
    width: 75%;
}

nav {
    margin-top: 30px;
    padding: 10px 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    opacity: 0.4;

    height: 40px;
    width: 100%;
}

nav ul li.active {
    opacity: 1;
}

nav ul li:hover {
    opacity: 1;
    cursor: pointer;
}

nav ul li img {
    width: 50%;
}

aside {
    background-color: #252526;
    color: white;

    height: 100%;
    width: 200px;
}

aside h1 {
    border-bottom: 2px solid gray;
    
    font-size: 1.5em;
    font-weight: bold;
    
    text-align: center;
    
    padding: 35px 0;
    
    opacity: 0.6;
}

aside .project {
    color: white;
    font-size: 0.6em;

    height: 80px;
    opacity: 0.6;
    padding: 20px 10px;
    position: relative;
}

aside .project:hover {
    background-color: #3f3f46;
    cursor: pointer;
}

aside .project p {
    margin-bottom: 3px;
}

aside .project p.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside .project span.project-name {
    font-size: 1.5em;
    font-weight: bold;
}

main {
    background-color: #1e1e1e;
    flex: 1 0 0;
}

#home-page-content {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    height: 100%;
}

#home-page-content .display-pic img {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;

    max-width: 150px;
}

#home-page-content .elevator-intro {
    color: white;
}

#home-page-content h1.name {
    font-size: 3em;
    margin-bottom: 2px;
}

#home-page-content p.about {
    color: rgba(255, 255, 255, 0.4);
    margin: 0 auto;
    width: 60%;
}

#home-page-content .social img {
    margin: 0px 20px;
    width: 32px;
}

#contact-page-content {
    color: white;
    padding: 20px;
}

#contact-page-content h1 {
    font-size: 3em;
    margin: 10px 0 50px 0;
}

#contact-page-content form input, #contact-page-content form textarea {
    background-color: transparent;
    border: 0px;
    display: block;
    
    height: 30px;
    width: 100%;
}

#contact-page-content form input:active {
    border: 2px solid white;
}